body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia', serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #d8dae5 80%, #3c2dc6 20%);
}

h1 {
    font-family: Monospace;
    color: #ffffff;
    margin-bottom: 5px;
}

#app-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-sizing: border-box;
}

#todo-input-container,
#todo-list-container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f0f0f0; 
    border-radius: 8px;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-count {
    padding-top: 9px;
    color: #000000;
}

#todo-input {
    flex: 1;
    width: 70%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    margin-right: 30px;
    margin-left: 30px;
}

#todo-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #e9e5e5;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.todo-item:hover {
    background-color: #ffffff;
}

.text-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.edit-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 8px;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ec5f5f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button.status-button {
    padding: 8px;
    color: #f08181;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.status-button.new {
    background-color: #ff003c;
}

button.status-button.done {
    background-color: #00bf00;
}

button.status-button:hover {
    opacity: 0.8;
}

#add-button {
    margin-top: 55px; 
}